body {
    background: #303030;
}

#game {
    display: none;
    width: 1270px;
    margin: 0 auto;
}

#gameOver {
    width: 736px;
    height: 518px;
    display: none;
    margin: 0 auto;
    background: url(../img/arsenalGameOver.png);
}

#resume-pause {
    float: right;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.playerMenuItem {
    text-align: center;
    color: #ffffff;
}

#wave {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
}

#canvasBg {
    display: block;
    background: #ffffff;
    margin: 0 auto;
    background: url(../img/GameBackground.jpg);
    background-repeat: no-repeat;
}

#start-screen, #character-select-screen {
    margin: 0 auto;
    z-index: 5;
    width: 800px;
    height: 500px;
    background-color: #fff;
}

#character-select-screen {

}

#start-screen {
    background: url(../img/Post-Apocalyptic-Cityscape.jpg);
    background-repeat: no-repeat;
}

#character-select-screen {
    display: none;
}

#character-select-screen h1 {
    text-align: center;
}

#character-select-screen img {
    cursor: pointer;
}

#dale {
    float: left;
}

#triest {
    float: right;
}

#start-button, #continue-button {
    font-size: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#start-button {
    padding-top: 215px;
}

#start-button:hover, #continue-button:hover {
    color: #ff0000;
}