body {
    background: #303030;
}

#game {
    display: none;
    width: 1270px;
    margin: 0 auto;
}

#gameOver {
    width: 736px;
    height: 518px;
    display: none;
    margin: 0 auto;
    background: url(../img/arsenalGameOver.png);
}

#resume-pause {
    float: right;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.playerMenuItem {
    text-align: center;
    color: #ffffff;
}

#wave {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
}

#canvasBg {
    display: block;
    margin: 0 auto;
    background: #ffffff url(../img/GameBackground.jpg) no-repeat;
}

#start-screen, #character-select-screen {
    margin: 10% auto 0;
    z-index: 5;
    width: 800px;
    height: 500px;
    background-color: #fff;
}

#start-screen {
    background: url(../img/Post-Apocalyptic-Cityscape.jpg) no-repeat;
}

#character-select-screen {
    background-color: #000;
}

#character-select-screen {
    display: none;
}

#character-select-screen h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}

#charcterTable img {
    cursor: pointer;
    width: 128px;
    height: 277px;
    clear: both;
}

#charcterTable {
    width: 100%;
}

#charcterTable td {
    text-align: center;
    vertical-align: top;
}

#start-button, #continue-button, #play-again {
    font-size: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

#start-button, #play-again {
    padding-top: 215px;
}

#start-button:hover, #continue-button:hover, #play-again:hover {
    color: #ff0000;
}
#charcterTable div {
    padding-top: 68px;
}
.arrow {
    width: 128px;
    height: 277px;
    background: url(../img/arrow.png) no-repeat 90% 0%;
    margin: 0 auto;
}
#playerInfo {
    width: 800px;
    height: 106px;
    color: #006600;
    margin: 0 auto;
    font-family: Courier;
    font-weight: bold;
}
